body {
    margin: auto;
    padding: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 800px;
}

p {
    margin: 0;
    text-align: center;
    align-content: center;
}

#question-section {
    width: 100%;
    height: 70%;
    min-height: 350px;
}

#controls-section {
    width: 100%;
    height: 30%;
    min-height: 175px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#category-select {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
    text-align: center;
}

#difficulty {
    text-transform: capitalize;
    height: 10%;
    background-color: beige;
}

#question {
    height: 20%;
    background-color: bisque;
}

#options {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0;
    padding: 0;
    list-style-position: none;
    text-align: center;
    align-content: center;

    background-color: beige;
}

#answer {
    height: 20%;
    background-color: bisque;
}